# Google GenAI SDK
google-genai==1.65.0

# dotenv
python-dotenv==1.2.1

# Chroma SDK
chromadb==0.4.0

# RAG
langchain==1.2.10
langchain-community==0.4.1
langchain-google-genai==4.2.1
langchain-chroma==1.1.0

# UI
streamlit==1.55.0

# openai
openai==2.29.0
